/*modal img close*/
.md-close{
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.7);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #b00c03;
    color: #fff;
    border: 2px solid #fff;
    line-height: 1;
    font-size: 15px !important;
    position: absolute;
    right: 0;
    margin-top: -10px !important;
    margin-right: -10px !important;
    z-index: 999999;
}
.md-close:hover{
    
    background-color: #000;
}
.md-overlay{
    background: rgba(0, 0, 0, 0.7);
}
.md-content > div {
    padding: 10px;
}
.md-trigger{
    display: none;
}
.md-modal {
    max-width: 500px;
    min-width:280px;
    height: auto;
}
.link-img{
    display: block;
    opacity: 1;
    transition: .3s;
}
.link-img:hover{
    opacity: .7;
    transition: .3s;
}
/*/*/



/*content*/
.heading-top{
	font-size: 35px;
}
.p-body-center{
	max-width: 800px;
}
.max-width-1000{
	max-width: 1000px;
}
.max-width-900{
	max-width: 900px;
}
.responsive-img{
	width: 80%;
}
.lead.lead-custom {
    font-size: 18px;
}
.indent-p{
	text-indent: 25px;
}
hr.hr-custom {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px dashed #cdcccc;
}
.text-white{
	color:white !important;
}
.font-size-30{
	font-size: 30px;
}
#footer .widget > h4 {
    font-weight: 700;
    border-bottom: 1px solid #b00c03;
}
.font-body-2{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    font-size: 16px;
}
.shadow-h{
    text-shadow: 2px 1px 1px #9b9b9b;
}
/*div*/
.standard-logo-mobile{
    display: none;
}

.div-img-banner{
    position: relative;
    margin-top: -40px;
}
.img-banner{
    position: absolute; top: 0; left: 0;
}
.dark #copyrights {
    background-color: rgb(240, 240, 240);
    color: #a8a8a8;
    text-shadow: 0px 0px 0px rgba(96, 95, 95, 0.1);
}
.img-testimonial{
    width: 70px;
    height: 70px;
}
#copyrights {
    padding: 20px 0;
}
.fancy-title {
    margin-bottom: 10px;
}
.feature-box.fbox-plain.fbox-small h3 {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 0px;
}
.feature-box.fbox-center {
    padding: 0;
    text-align: left;
}
.icon-m{
    margin-left: -18px;
    color:#4483b9;
}
.ul-m{
    margin-left: 19px;
}
.img-customer{
    position: absolute;
    bottom: -125px;
    right:-50px;
    width: 370px;

}
.img-coba-aplikasi{
    position: absolute;
    bottom: 0;
    right:0;
    width: 370px;
}
.feature-box.fbox-center.fbox-small.fbox-plain .fbox-icon img {
    height: 120px;
}
.feature-box.fbox-center.fbox-small .fbox-icon {
    width: 120px;
}
.judul{
    position: absolute;
    right:0;
    top:0;
}
.section {
    padding: 40px 0;
}

.feature-box.fbox-center.fbox-small .fbox-icon.fbox-icon-custom {
    width: 94px;
    height: 64px;
}
.img-slider{
    /*background-image: url('images/page/bg-slider.png');*/
    position:absolute;
    z-index: -2;
    width:450px;
    right:-70px;
    margin-top: 30px;
}
.bg-slider{
    background-image: url('images/page/bg-slider.png');
    background-size: cover;
}
.feature-box.fbox-center .fbox-icon {
    margin: 0 auto 10px;
}
.col-padding {
    padding: 40px;
}
.iconlist {
    line-height: 2;
    font-size: 16px;
}
#footer.dark, .dark #footer {
    margin-top: 0 !important;
}
.m-t-2{
    margin-top: 20px;
}
.line-vertical-right{
    border-right: 1px solid rgba(0,0,0,0.05);
}
/*color*/
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a, .dark #header-wrap:not(.not-dark) #primary-menu > .container > ul > li > a, .dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > ul > li > a, .overlay-menu #primary-menu.dark > ul > li > a, .dark.overlay-menu #header-wrap:not(.not-dark) #primary-menu > #overlay-menu-close, .overlay-menu #primary-menu.dark > #overlay-menu-close, .dark #header-wrap:not(.not-dark) #top-search a, .dark #header-wrap:not(.not-dark) #top-cart a, .dark #header-wrap:not(.not-dark) #side-panel-trigger a, .dark #top-cart .top-cart-item-desc a, body.top-search-open .dark #header-wrap:not(.not-dark) #top-search a, .dark #header-wrap:not(.not-dark) #top-search a:hover, .dark #header-wrap:not(.not-dark) #top-cart a:hover, .dark #header-wrap:not(.not-dark) #side-panel-trigger a:hover, .dark #header-wrap:not(.not-dark) #top-search form input {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.testimonial-full .testi-content {
    color: #fff;
}
.dark .footer-widgets-wrap a {
    color: #5c5c5c;
}
.dark, .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #555555;
}
.iconlist > li [class^="icon-"]:first-child, .iconlist > li [class*=" icon-"]:first-child {
    color: #b00c03;
}
.pricing-title {
    padding: 15px 0;
    background-color: #e9e9e9;
    border-radius: 3px 3px 0 0;
    text-shadow: 0px 0px 0px #FFF;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    color:#7f7f7f;
}
.pricing-title h3 {
    
    color: #666;
}
.button.button-red {
    background-color: #d71c12;
}
.button.button-red:hover {
    background-color: #b81911;
}
.button-yellow{
    background-color: #ee790f !important;
}
.button-yellow:hover{
    background-color: #d36b0c !important;
}
.button.button-blue {
    background-color: #446c95;
}
.button.button-blue:hover {
    background-color: #444;
}
.text-red{
	color:#b00c03;
}
.text-grey{
    color:#6c6c6c !important;
}
.text-orange{
    color:#ed700b;
}
#footer.dark, .dark #footer {
   /* background-color:#494848;*/
   background-color: #fff;
    color: #323232;
    border-top-color: rgba(0,0,0,0.2);
}
.dark .widget h4 {
    color: #b00c03;
}
.line, .double-line {
    border-top: 1px solid #d7d7d7;
}
.button {
    background-color: #f08313;
}
.iconlist-color li i {
    color: #b00c03;
}
.tabs.tabs-alt ul.tab-nav li.ui-tabs-active a {
    border: 1px solid #b4b3b3;
    border-bottom: 0;
}
ul.tab-nav:not(.tab-nav-lg) {
	margin:0;
    border-bottom: 1px solid #b4b3b3;
    list-style: none;
}
ul.tab-nav.tab-nav-custom:not(.tab-nav-lg) {
    border-bottom: 0px solid #b4b3b3;
}
ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
    background-color: #f9f9f9;
}
.tabs.tabs-alt ul.tab-nav li a {
    background-color: #f9f9f9;
}
.bg-red{
	background-color:#8b140e;
}
.bg-grey{
	background-color: #e9e9e9;
}
.bg-grey-smoth{
	background-color: #dbdbdb;
}
.bg-blue{
	background-color: #446c95;
}
.bg-green{
	background-color: #359341;
}
#gotoTop:hover {
    background-color: #b00c03;
}
#header.sticky-header #header-wrap, #header.full-header.border-full-header.sticky-header #header-wrap {
    border-bottom: 1px solid #8f0c05 !important;
    -webkit-backface-visibility: hidden;
}
#header.sticky-header #header-wrap {
    background-color: #b00c03;
}

#primary-menu ul li > a {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
    color: #fcb5b2;
}

/*mobile*/
@media (max-width: 767px){
    .h-auto-mobile{
        height: auto !important;
    }
}
@media (max-width: 768px){
	.lead.lead-custom {
	    font-size: 16px;
	}
}
@media (max-width: 991px)
{
    #header.transparent-header.dark:not(.sticky-header) #header-wrap {
	    background-color: #b00c03;
	    border-bottom-color: rgba(255,255,255,0.1) !important;
	}
    #primary-menu-trigger {
        color: #fff;
    }
    #logo{
        display: none;
    }
    .standard-logo-mobile{
        display: block;
        width: 200px;
        margin: auto;
    }
}
@media (max-width: 935px){
    .img-coba-aplikasi{
        display: none;
    }
    .img-customer{
        display: none;
    }
}