@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:url('roboto-light.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:url('roboto-regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:url('roboto-medium.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:url('roboto-bold.ttf');
}